.escolas-container {
  padding: 20px;
}

.escolas-container h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.filtros {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.filtros input {
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 1rem;
}

.filtros button {
  padding: 10px 20px;
  background: #3987db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filtros button:hover {
  background: #075aa9;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 12px;
  border: none;
  background: #3987db;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:hover {
  background: #075aa9;
}

.pagination button[disabled] {
  background: #f2f2f2;
  cursor: not-allowed;
}

.pagination span {
  font-size: 1rem;
  font-weight: bold;
}
